<head>
    <!-- Import local styles-->
    <link rel="stylesheet" href="css/aa.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-167171727-2');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WGVZLLQ');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGVZLLQ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
     <!-- Second Section Description Banner -->
     <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default uk-card-body" id="second-section">
                <h3 id="second-section-title">Data Governance</h3>
            </div>
        </div>
    </div>

     <!-- Second Section Description Cards -->
     <div class="uk-child-width-1-2@s uk-grid-match blog" id="DGparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/javier-vilcapoma.jpg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Javier Vilcapoma</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">DPM</p>
                            <p class="uk-text-meta uk-margin-remove-top">javier.vilcapoma@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Nueva herramienta para reforzar el frente de Data Governance en BBVA</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">
                        Con el objetivo de potenciar el frente de Data Governance con una reestructuración del modelo de gobierno, se ha decidido migrar las funcionalidades de Sophia (antigua herramienta de Data Governance para el grupo) hacia Datum. En este artículo se detalla cómo se ha abordado esta parte del despliegue del modelo Data Governance 2.0 mediante Datum en Perú.
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1ADFKANfKm_iixOa_OGJ_LM18WHaV6mOiG7mXJMnvZjE/edit?usp=sharing" class="uk-button uk-button-text buttonDG" id="dg-ed2-1" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/tony_pichardo.jpeg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Tony Pichardo</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Specialist Risk</p>
                            <p class="uk-text-meta uk-margin-remove-top">tpichardo@bbva.com</p>
                        </div>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/victor_cervantes.jpeg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Victor Cervantes</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Engineering Perú</p>
                            <p class="uk-text-meta uk-margin-remove-top">victor.cervantes@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Reportes Regulatorios SBS , Rumbo a una implementación en DATIO bajo un Marco Integral Normativo BBVA.                            </h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">
                        Durante el PI2, se han analizado y relevado 625 variables, de las 115 fuentes del reporte con la finalidad de aplicar una estrategia para elaborar el Reporte de Detalle por operación de la cartera de créditos del Banco (ED01). Teniendo como objetivo que su implementación se pueda hacer en un mediano/ largo plazo en una plataforma estratégica (“DATIO”), para lo cual se ha obtenido como entregable final del Q2 un roadmap con fechas estimadas a  empezar en Q4 2020. 
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1orY7RrxpJFgZeMWomMKzCNkA2Bl6gc__eHZc3Kdd5xs/edit?usp=sharing" class="uk-button uk-button-text buttonDG" id="dg-ed2-2" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>
     </div>
    <script>
         function checkWidthDG(){
            var w = window.innerWidth
            var h = window.innerHeight
            
            if (w<920){
                var aaDIV = document.getElementById("DGparentDiv")
                aaDIV.classList.remove("uk-child-width-1-2@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")
                            
                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }

            }
            else{
                var aaDIV = document.getElementById("DGparentDiv")
                aaDIV.classList.add("uk-child-width-1-2@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
            }
        }
        $(document).ready(function(){
            checkWidthDG();
        })
        window.addEventListener("resize", function(){
            checkWidthDG();
        });        
    </script>

        
</body>