<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-167171727-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W7B7P7X');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7B7P7X"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
     <!-- Second Section Description Banner -->
     <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default uk-card-body" id="second-section">
                <h3 id="second-section-title">Data Governance</h3>
            </div>
        </div>
    </div>

     <!-- Second Section Description Cards -->
     <div class="blog" uk-grid>            
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <!-- check style of dive, delete top and margin top in specific window size-->
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container" style="text-align: center; top: 75%; margin-top: -300px;">
                <img src="img/governance_logo.png" width ="300" alt="">
            </div>

            <div>
                <div class="uk-card-body">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="60" height="60" src="img/javier-vilcapoma.jpg">
                            </div>
                            <div class="uk-width-expand">
                                <h4 class="uk-margin-remove-bottom">Nuevos procesos de gobierno para el uso y consumo de los datos disponibilizados en DATIO - DOM 2.0</h4>
                                <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Javier Vilcapoma</p>
                                <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">DPM</p>
                                <p class="uk-text-meta uk-margin-remove-top">javier.vilcapoma.bbva.com</p>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <p>Durante el mes de Abril se llevaron a cabo las sesiones de despliegue de la segunda versión del Data Operating Model (DOM) en Perú, con el objetivo de potenciar las sinergias entre las diferentes líneas estratégicas de data durante las etapas de procesamiento y consumo del ciclo de vida de un dato.</p>
                        </div>
                        <div class="uk-card-footer">
                            <a href="https://docs.google.com/document/d/1e1PQ3FF6cWeDCfh8WO2V2oQg08VTnREL-JCPlb1nqKI/edit?usp=sharing" class="uk-button uk-button-text" id="governance-1" style="font-weight: 500;" target="_blank">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="blog" uk-grid>            
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <!-- check style of dive, delete top and margin top in specific window size-->
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container" style="text-align: center; top: 75%; margin-top: -285px;">
                <img src="img/security.jpg" width ="500" alt=""">
            </div>

            <div>
                <div class="uk-card-body">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="60" height="60" src="img/francisco barca.jpeg">
                            </div>
                            <div class="uk-width-expand">
                                <h4 class="uk-margin-remove-bottom">Seguridad en la trasferencias de datos internacionales - DOM 2.0</h4>
                                <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Francisco Barca</p>
                                <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Security</p>
                                <p class="uk-text-meta uk-margin-remove-top">francisco.barca@bbva.com</p>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <p>En un contexto de abundante información, “Big Data”, y oportunidades de sinergias globales a través del trabajo colaborativo en los sandboxes, es importante el resguardo y aseguramiento de los datos sensibles. Para ello, se ha creado el Working Group de Transferencias Internacionales , donde aseguramos mantener el control del tratamiento de los datos haciendo partícipe a todos los involucrados en el proceso.</p>
                        </div>
                        <div class="uk-card-footer">
                            <a href="https://docs.google.com/document/d/1yiAXDrGd-2ZZ3YBvPoX-ND5UzrU_f3GQC6DyB-3IbWs/edit?usp=sharing" class="uk-button uk-button-text" id="governance-2" style="font-weight: 500;" target="_blank">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


        
</body>