<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-167171727-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W7B7P7X');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7B7P7X"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <section class="principal-banner">  
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div class="uk-card-body" style="background-color: transparent;">
                    <img src="img/BBVA_RGB_Blanco.png" width="100px" alt="" style="padding-bottom: 20px;"><br>
                    <a href="https://platform.bbva.com/en-us/disciplines-governance/communities/advanced-analytics/index.html#/" style="text-decoration: none;" target="_blank">
                        <img src="img/LOGO_luigi.png" width="75px" alt="">
                    </a>
                    <a href="https://teamspaces.bbva.com/teamspaces/data-governance-cop/overview" style="text-decoration: none;" target="_blank">
                        <img src="img/governance_logo.png" width="80px" alt="">
                    </a>
                    <a href="https://prensabbva.s3.amazonaws.com/2020/NewsletterAdvanceAnalytics/N17/NEWSLETTER_AA_17_SP.html" style="text-decoration: none;" target="_blank" id="news-global">
                        <p style="padding-top: 20px; color: white; font-size: 14px;">Newsletter Advanced Analytics Global</p>
                    </a>
                </div>
                
            </div>
            <div>
                <div class="uk-card-body" style="background-color: transparent; padding-top: 130px;">
                    <p style="color: white; padding:0; font-size: 40px;">Newsletter Data Perú</p>
                    <p style="color: white; padding:0;">Edición 1</p>
                    <p style="color: gray; padding:0;">#DataDrivenBBVA</p>
                </div>
            </div>
            <div>
                <div class="uk-card-body" style="background-color: transparent;">
                    <!--
                    <a href="https://platform.bbva.com/en-us/disciplines-governance/communities/advanced-analytics/index.html#/" style="text-decoration: none;">
                        <img src="img/LOGO_luigi.png" width="75px" alt="">
                    </a>
                    <a href="https://teamspaces.bbva.com/teamspaces/data-governance-cop/overview" style="text-decoration: none;">
                        <img src="img/governance_logo.png" width="80px" alt="">
                    </a>
                    -->
                </div>
            </div>
        </div>
        <!--
        <div class="">
            <div  id="title">
                <p id="title">Newsletter Data Perú</p>
            </div>
        </div>
        -->
        <!--
        <div class="button-edition uk-child-width-expand@s uk-text-center section-title" uk-grid>
            <p style="color: white; padding:0">Edition 1</p>
        -->
            <!-- Buttom to choose newsletter edition-->
            <!-- un comment when button funcionality is available-->
            <!-- 
            <button id="principal-button" class="uk-button uk-button-default" type="button">Edición</button>
            <div uk-dropdown="pos: bottom-justify">
                <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    
                </ul>
            </div>
            -->
        </div>
    </section>    
</body>
