<head>
    <!-- Import local styles-->
    <link rel="stylesheet" href="css/aa.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-167171727-2');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WGVZLLQ');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGVZLLQ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- First Section Description Banner -->
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default  uk-card-body" id="first-section">
                <h3 id="first-section-title">Advanced Analytics</h3>
            </div>
        </div>
    </div>

     <!-- First Section Description Cards -->
        <!-- First Section 1 info -->

    <div class="uk-child-width-1-2@s uk-grid-match blog" id="AAparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Alex Espino Gallegos.PNG">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Alex Espino</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist Riesgos</p>
                            <p class="uk-text-meta uk-margin-remove-top">alex.espino@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom"> Mejorando la admisión y otorgamiento de ofertas con la  reestimación del modelo Buro de Personas Naturales</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">
                        Enriquecer con nuevas fuentes de información el modelo de Buro Personas Naturales es uno de los objetivos del Caso de Uso de Buro PN. La reestimación de este modelo es muy importante en la gestión del banco, ya que se usa en la admisión y otorgamiento de ofertas. Además, permite la segmentación de la población para la definición de estrategias, así como su uso en el cálculo de Parámetros de Capital Económico, IFRS9 y Pricing de Operaciones.
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1Ls_KhAS2ZrTqPsg6H9KS1-NO8Lh1ohRpRU4lH5B6LIs/edit?usp=sharing" class="uk-button uk-button-text buttonAA" id="aa-ed3-1" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/yuri-lingan.jpg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Yuri Lingan</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist Finanzas</p>
                            <p class="uk-text-meta uk-margin-remove-top">yuri.lingan@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Impacto COVID en Saldos y Rentabilidad; en los principales productos de Inversión Rentable</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">En el actual contexto de crisis que venimos viviendo, no cabe duda que el Sistema Financiero está siendo muy afectado. Desde la CoE Finanzas queremos evaluar este impacto, realizando un  análisis descriptivo sobre el comportamiento de los Saldos y la Rentabilidad (expresada en Margen Financiero y RORC) de los principales productos de Inversión Rentable; tanto en la Banca Comercial, como en la Banca Empresa.
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1Li-zCv_HStDGHv-0j4Do8uEQNWnuA-8y4W0yzMweAT4/edit?usp=sharing" class="uk-button uk-button-text buttonAA" id="aa-ed3-2" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/keven_fernandez.jpeg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Keven Fernandez </p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist CS</p>
                            <p class="uk-text-meta uk-margin-remove-top">keven.fernandez@bbva.com </p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Segmentación de clientes a través de la periodicidad de uso con la TC mediante la metodología RFMT </h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>
                        Ante cualquier estudio de predicción y acción comercial, primero conozcamos a nuestros clientes, por ello, se desarrolló una segmentación a través de la metodología de RFM+T (recencia, frecuencia, monto) + transacciones, con el objetivo de identificar segmentos según la importancia que le dan al usar su tarjeta de crédito. Se identificaron 7 grupos, el cual, se hicieron comparaciones en los periodos Pre-Covid y Covid que generaron alertas en los grupos con mayor afectación tales como nuestro grupo top (fidelizado estrella) que ha caído de 35% a 17%, a partir de la campaña de agosto se usará para darle prioridad a ciertos grupos según la necesidad del negocio.
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1BiOO430l2ShPHypL9Ef2F2zG60adrJKMvQ5nerLSYOU/edit?usp=sharing" class="uk-button uk-button-text buttonAA" id="aa-ed3-3" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/LOGO_luigi.png">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Newsletter Global</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;"></p>
                            <p class="uk-text-meta uk-margin-remove-top"></p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Encuentra artículos de otras geografías en la Newsletter Global de Advanced Analytics #19<h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>Les recomendamos leer la newsletter global de advanced analytics que en esta ocasión trae novedades sobre regulaciones en los modelos, data demo day Q2-2020 y el convenio con la universidad de Navarra.
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://prensabbva.s3.amazonaws.com/2020/NewsletterAdvanceAnalytics/N19/NEWSLETTER_AA_19_SP.html" class="uk-button uk-button-text buttonAA" id="aa-ed3-4" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

    </div>
    <script>
        function checkWidth(){
            var w = window.innerWidth
            var h = window.innerHeight
            if(w < 500){
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.remove("uk-child-width-1-2@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")
                            
                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }

                var names = document.getElementsByClassName("name")
                //console.log(names, names.length)
                for (var j = 0; j < names.length; j++){
                    item = names[j]
                    item.classList.add("hiddenStyle")
                    item.classList.remove("showStyle")
                }
            }
            else if (w<920){
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.remove("uk-child-width-1-2@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")
                            
                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }
                var names = document.getElementsByClassName("name")
                //console.log(names, names.length)
                for (var i = 0; i < names.length; i++){
                    item = names[i]
                    item.classList.remove("hiddenStyle")
                    item.classList.add("showStyle")
                }
            }
            else{
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.add("uk-child-width-1-2@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
                var names = document.getElementsByClassName("name")
                //console.log(names, names.length)
                for (var i = 0; i < names.length; i++){
                    item = names[i]
                    item.classList.remove("hiddenStyle")
                    item.classList.add("showStyle")
                }
            }
        }
        $(document).ready(function(){
            checkWidth();
        })
        window.addEventListener("resize", function(){
            checkWidth();
        });
       
    </script>

</body>