<head>
    <!-- Import local styles-->
    <link rel="stylesheet" href="css/aa.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-167171727-2');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WGVZLLQ');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGVZLLQ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
     <!-- Second Section Description Banner -->
     <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default uk-card-body" id="second-section">
                <h3 id="second-section-title">Data Governance</h3>
            </div>
        </div>
    </div>

     <!-- Second Section Description Cards -->
     <div class="uk-child-width-1-2@s uk-grid-match blog" id="DGparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/javier-vilcapoma.jpg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Javier Vilcapoma</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">DPM</p>
                            <p class="uk-text-meta uk-margin-remove-top">javier.vilcapoma@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Herramienta para el gobierno de catálogos - Taxonomy</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">
                        El gobierno de los catálogos de cada geografía ya tiene una herramienta corporativa donde soportarse, y es que durante el pasado mes de Julio, se llevaron a cabo las formaciones para desplegar la herramienta corporativa de Taxonomy en Perú. Esta herramienta tiene por objetivo dar soporte al gobierno de los catálogos de cada geografía, y sus diferentes equivalencias entre ellos, así como su disponibilización mediante Datio. Como primera etapa se está abordando su despliegue dentro del proyecto CDD. En este artículo se verá el detalle de la herramienta, sus definiciones conceptuales, conceptos técnicos y próximos pasos en CDD y otros proyectos que lo requieran.
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1mjCxyUI_4bzbM4MQVW5iNec8i5K8lfgGGnYYI4LekPE/edit?usp=sharing" class="uk-button uk-button-text buttonDG" id="dg-ed3-1" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/javier-vilcapoma.jpg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Javier Vilcapoma</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">DPM</p>
                            <p class="uk-text-meta uk-margin-remove-top">javier.vilcapoma@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Review de las principales funcionalidades y operativa de Datum</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">
                        Con el objetivo de hacer un review y reforzar la herramienta Datum, se comparte este material para que puedan hacer uso según la necesidad. Contiene información de la herramienta(presentaciones y videos informativos)
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://drive.google.com/drive/folders/1KIJ_rLDtW4udLCV0iZMAUae_I8-1Hfmz?usp=sharing" class="uk-button uk-button-text buttonDG" id="dg-ed3-2" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>
     </div>
    <script>
         function checkWidthDG(){
            var w = window.innerWidth
            var h = window.innerHeight
            
            if (w<920){
                var aaDIV = document.getElementById("DGparentDiv")
                aaDIV.classList.remove("uk-child-width-1-2@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")
                            
                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }

            }
            else{
                var aaDIV = document.getElementById("DGparentDiv")
                aaDIV.classList.add("uk-child-width-1-2@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
            }
        }
        $(document).ready(function(){
            checkWidthDG();
        })
        window.addEventListener("resize", function(){
            checkWidthDG();
        });        
    </script>

        
</body>