<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-167171727-2');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WGVZLLQ');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGVZLLQ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- Footer -->
    <div class="uk-child-width-1-1@s uk-grid-match" id="" uk-grid>
        <div>
            <div class="uk-card uk-card-body" style="background-color: #042f66;">
                <div class="uk-width-auto">
                    <img class="" width="60" height="60" src="img/chat.png">
                </div>
                <p style="font-size: 20px; color: white; padding-bottom: 0px; margin-bottom: 0px;">Queremos saber</p>
                <p style="font-size: 20px; color: white; margin-top: 0px; padding-top: 0px;">tu opininón</p>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOip1E3-_QApudsaEke-uywK-Piod0O-9Wim2RsFJ48_yLzA/viewform" style="text-decoration: none;" target="_blank" id="Bvaloracion">
                    <button class="uk-button uk-button-primary uk-button-large" style="margin-top: 10px; font-size: 10px;" id="Bvaloracion_">Accede a la encuesta de valoración</button>
                </a>
                <div style="padding-top: 10px;">
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=cop.data.pe.group@bbva.com&su=NewsletterDataPeru&body=Hola&bcc=javier.zarate@bbva.com" style="text-decoration: none;" target="_blank" id="Bcorreo">
                        <button class="uk-button uk-button-primary uk-button-large" style="margin-top: 10px; font-size: 10px;" id="Bcorreo_">Si quieres compartir una historia escríbenos a: cop.data.perú.group@bbva.com</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function checkWidthF(){
            var w = window.innerWidth
            var h = window.innerHeight
            if (w<570){
                document.getElementById("Bvaloracion").innerHTML = "Encuesta de valoración";
                document.getElementById("Bcorreo").innerHTML = "Para compartir: cop.data.peru.group@bbva.com";
            }
            else if(w < 1250){
                //document.getElementById("buttonAA").innerHTML = "Newsletter AA Global";
                //var hiddenDiv = document.getElementById("hiddenDiv")
                //hiddenDiv.classList.add("showStyle")
                //hiddenDiv.classList.remove("hiddenStyle")
            }
            else{
                document.getElementById("buttonAA").innerHTML = "Newsletter Advanced Analytics Global";
                var hiddenDiv = document.getElementById("hiddenDiv")
                hiddenDiv.classList.add("showStyle")
                hiddenDiv.classList.remove("hiddenStyle")
            }
        }
        $(document).ready(function(){
            checkWidthF();
        })
        window.addEventListener("resize", function(){
            checkWidthF();
        });
    </script>
</body>
