.principal-banner {
    background-image:url(../img/descarga.svg); 
    background-color: #042f66; 
    height: 400px;
    /*height: 40vh;*/
    /*background-position: top;*/
    background-position: 100% 30%;
    /*background-position: right;*/
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: 1200px;
    /*background-size: cover;*/
    padding-top: 10px;
}

#principal-button{
  background-color:white; 
  text-align: center; 
  color:black; 
  background-color: white;
}

#title{
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: xx-large;
  margin: 0;
}

.section-title{
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 80%;
}

.section-title-ack{
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0px;
  padding-top: 50px;
  width: 80%;
}

.nav_align{
  height: 30vh;
  text-align: center;
  align-items: center;
  margin: 0;
  padding-left: 4%;
  padding-right: 4%;
  /*padding-bottom: 50px;
  padding-top: 70px;*/
}

  .button-edition{
    margin: 0;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 7px;
    width: 20%;
  }

  #first-section{
    height: 100px;
    background-color: #fdfd96;
    background-image: url(../img/amarello.svg);
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: 70px;
    text-align: left;
  }

  .first-section{
    background-color: teal;
    margin: 0;
  }

  #first-section-title{
    color:#7e7e02;
    text-align: left;
    font-size: x-large;
    margin: -5px;
    padding: 0;
  }

  #second-section{
    height: 100px;
    background-color: #8cb9e5;
    background-image: url(../img/blua.svg);
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: 70px;
    text-align: left;
  }

  #second-section-title{
    color:#123352;
    text-align: left;
    font-size: x-large;
    margin: -5px;
    padding: 0;
  }

  #third-section{
    height: 100px;
    background-color: #c49bd7;
    background-image: url(../img/morak.svg);
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: 70px;
    text-align: left;
  }

  #third-section-title{
    color:#422153;
    text-align: left;
    font-size: x-large;
    margin: -5px;
    padding: 0;
  }

  #fourth-section{
    height: 100px;
    background-color: #ff9e3c;
    background-image: url(../img/contribute.svg);
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: 70px;
    text-align: left;
  }

  #fourth-section-title{
    color:white;
    text-align: left;
    font-size: x-large;
    margin: -5px;
    padding: 0;
  }

  #fourth-subsection{
    width: 100%;
    height: 50px;
    background-color: #ffca89;
    background-image: none;
    background-position: 90%;
    background-repeat: no-repeat;
    text-align: left;
    vertical-align: middle;
    display: table;
  }

  #fourth-subsection-title{
    color:white;
    text-align: left;
    font-size: large;
    margin:0;
    padding: 0;
  }

  #fifth-section{
    height: 200px;
    background-color: #042f66;
    background-image: url(../img/chat.png);
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: 100px;
    text-align: center;
  }

  #fifth-section-title{
    color:white;
    text-align: center;
    font-size: x-large;    
    margin: 0px;
    padding: 0px;
  }

  #sixth-section{
    height: 100px;
    background-color: #93ffda;
    background-image: url(../img/party.png);
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: 70px;
    text-align: left;
  }

  #sixth-section-title{
    color:#009361;
    text-align: left;
    font-size: x-large;
    margin: -5px;
    padding: 0;
  }

  .blog{
    margin: 0 !important;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    padding-bottom: 50px;
  }

  #footer{
    background-image: url(../img/chat.png);
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: 100px;
    background-color: #042f66;
    height: 200px;
    text-align: center;
    color: white;
  }

  #footer-title{
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
    display: table-cell;
    vertical-align: middle;
  }